using ApplicationCore.Entities;
using Snail.Web.Services;

namespace Service
{
    public class <#=Name #>Service : BaseService<<#=Name #>>
    {
        public <#=Name #>Service(ServiceContext serviceContext) : base(serviceContext)
        {
        }
    }
}
